/* resets */
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffdde;
}
h1{
    position: absolute;
    color: rgb(255, 47, 47);
    text-transform: uppercase;
    /* width: 100vw; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px #000111;
}

/* some styling for canvas */
canvas{
    border: 1px solid #000;
    /** proper resizing is done from js not using css for canvas */
    /* height: 100%;
    width: 100%; */
}